/* copyright 2024 (c) Suryansh Shakya */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', serif;
}

header {
    background-color: #000000FF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89.8vh;
    gap: 20px;
    background-color: #FFFFFFFF;
}

.quiz-heading {
    font-size: 4rem;
}

#progress-bar-container {
    width: 200px;
    background-color: #f3f3f3;
}

#progress-bar {
    width: 0%;
    height: 20px;
    background-color: #26a8e4;
}

.hidden {
    display: none;
}

.question-container {
    margin-top: 20px;
}

#question {
    font-size: x-large;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
    margin-top: 10px;
    list-style-type: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    width: 350px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ddd;
}

.option-number {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.option-text {
    flex-grow: 1;
    text-align: center;
    padding: 15px;
}

.result {
    color: blue;
}

.start-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

.start-btn:hover {
    background-color: #555;
}

footer {
    background-color: #000000FF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    bottom: 0;
    font-size: large;
}